/* Core Styles */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: white;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: left;
}

img {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  max-height: 600px;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0.5em 0 0.5em 10%;
}

/* Navbar */

.navbar {
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em;
  height: 10px;
  font-size: 0.7em;
  border-bottom: 3px solid transparent;
}

.logo-card {
  position: relative;
  display: inline-block;
}

.logo-card img {
  cursor: pointer;
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 52px;
}

.logo-card .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.logo-card:hover .img-top {
  display: inline;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 10px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  text-decoration: uppercase;
}

.nav-links li a:hover {
  border-bottom: 1px solid #d6af87;
}

#section-1 {
  background-color: #f8f8f8;
  height: min-hei;
  padding-bottom: 5%;
}

#section-1 h1 {
  font-weight: 1000;
  padding-right: 75%;
}

#section-1 h3 {
  font-weight: 400;
  padding-right: 50%;
}

#section-1 a {
  color: black;
  text-decoration: underline black;
  text-decoration: uppercase;
  padding-left: 10%;
  font-style: italic;
}

#section-1 a:hover {
  color: #d6af87;
  text-decoration: underline #d6af87;
}

/* Card Section*/

.blank-grid-top {
  background-color: #f8f8f8;
}

.blank-grid-right {
  background-color: #f8f8f8;
}

#card-section {
  background-color: #1c1c1c;
  padding-bottom: 10%;
}

.card {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10% 10% 0 10%;
}

.card ul {
  list-style: none;
  color: grey;
}

.card ul li::before {
  content: "\2022";
  color: #d6af87;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.card h3 {
  padding-left: 0;
}

/* Section 3 */
.footer {
  background-color: #f8f8f8;
  padding-top: 5%;
}

.footer h1 {
  font-weight: 1000;
  padding-right: 75%;
  padding-top: 1em;
}

.footer h3 {
  font-weight: 400;
}

.footer img {
  cursor: pointer;
  width: 100px;
}

.footer-icon-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-icon-cont a {
  align-self: center;
}

.footer-icon-cont img {
  padding: 20%;
}

.click-me {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  word-wrap: break-word;
  position: absolute;
  padding-left: 20%;
  justify-content: center;
}

.click-me div {
  color: grey;
  width: 10px;
}

.click-me span {
  padding-left: 0.1em;
}

#line {
  width: 1px;
  height: 80px;
  border-right: solid grey 1px;
  padding-left: 4px;
  margin: 20px 0 20px 0;
}

@media (min-width: 700px) {
  body {
    margin: 4%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 6fr 6fr 6fr 1fr;
    grid-template-rows: 100px auto;
  }

  .blank-grid-top {
    grid-column: 2/-1;
  }

  .blank-grid-right {
    grid-column: 4/-1;
  }

  #section-1 {
    grid-row: 1/3;
    padding-right: 10%;
    padding-left: 10%;
  }

  #section-1 h1 {
    font-size: 2em;
    padding-right: 0;
    padding-bottom: 70px;
  }

  #section-1 h3 {
    padding-bottom: 10%;
    padding-right: 0;
    font-size: 1.5em;
    font-weight: 500;
  }

  #section-1 p {
    padding-bottom: 20px;
  }

  #card-section {
    grid-column: 2/4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  .card {
    padding: 5%;
    margin: 4%;
  }

  .card ul {
    padding-left: 0;
    padding-right: 0;
    max-width: 250px;
  }

  .footer-icon-cont {
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 10%;
    padding-top: 10%;
  }

  .click-me {
    display: none;
  }

  .footer h1,
  .footer h3,
  .footer p {
    padding: 1% 5% 1% 30%;
    text-align: right;
  }
}