/* Core Styles */
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background: white;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: left;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0.5em 10% 0.5em 10%;
}

/* Navbar */

.navbar {
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em;
    height: 10px;
    font-size: 0.7em;
    border-bottom: 3px solid transparent;
}

.logo {
    position: relative;
    display: inline-block;
}

.logo img {
    cursor: pointer;
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 52px;
}

.logo .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.logo:hover .img-top {
    display: inline;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav-links a {
    color: black;
    text-decoration: none;
}

.nav-links li a:hover {
    border-bottom: 1px solid #d6af87;
}

/* Header */
header {
    background-color: #f8f8f8;
    padding: 10% 10% 20% 0;
}

header h1 {
    font-weight: 900;
    padding-right: 75%;
}

header h3 {
    font-weight: 400;
    padding-right: 50%;
}

.blog-post-cards img {
    display: block;
    width: 100%;
    height: 300px;
    padding: 0;
}

.card-info {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}



.card-info button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align-self: center;
}

.blog-posts {
    background-color: #f8f8f8;
}

.article-byline {
    padding-left: 10%;
    display: flex;
    flex-direction: row;
}

.blog-post {
    padding-top: 20%;
}

.blog-post h4 {
    margin: 0;
    padding-left: 3%;
    padding-bottom: 10%;
}


.blog-post-image {
    display: block;
    width: 100%;
    height: 300px;
    padding: 10% 0 10% 0;
    object-fit: cover;
}

.footer {
    background-color: #f8f8f8;
    padding-top: 5%;
}

.footer h1 {
    font-weight: 900;
    padding-right: 75%;
    padding-top: 20%;
}

.footer h3 {
    font-weight: 400;
}

.footer img {
    cursor: pointer;
    width: 100px;
    height: auto;
}

.footer-icon-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-icon-cont a {
    align-self: center;
}

.footer-icon-cont img {
    padding: 20%;
}

.click-me {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    word-wrap: break-word;
    position: absolute;
    padding-left: 20%;
    justify-content: center;
}

.click-me div {
    color: grey;
    width: 10px;
}

.click-me span {
    padding-left: 0.1em;
}

#line-top,
#line-bottom {
    width: 1px;
    height: 80px;
    border-right: solid grey 1px;
    padding-left: 4px;
    margin: 20px 0 20px 0;
}

.back-to-top {
    display: flex;
    justify-content: center;
    padding-top: 75px;
}

.footer-link {
    color: black;
    text-decoration: underline black;
    font-style: italic;
}

.footer-link:hover {
    color: #d6af87;
    text-decoration: underline #d6af87;
}

@media (min-width: 700px) {
    body {
        margin: 4%;
    }

    header {
        padding: 2% 0 5% 0;
    }

    header h1,
    header h3,
    header p {
        padding: 1% 20% 1% 10%;
    }

    .blog-post-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #f8f8f8;

    }

    .blog-card-container {
        position: relative;
        width: 300px;
        object-fit: cover;
        padding: 5%;
    }

    .card-image {
        opacity: 1;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .card-middle {
        display: flex;
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
    }

    .blog-card-container:hover .card-image {
        opacity: 0.3;
    }

    .blog-card-container:hover .card-middle {
        opacity: 1;
    }

    .card-info {
        display: flex;
        flex-direction: column;
        font-weight: 400;
        text-align: center;
    }



    .card-info button {
        background-color: black;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        align-self: center;
    }

    .blog-post {
        padding-top: 0;
    }

    .blog-post h3 {
        font-size: 2em;
        padding-top: 5%;
        padding-right: 10%;
        text-align: center;
    }

    .blog-post-image {
        height: 500px;
        object-fit: cover;
        padding-top: 7%;
        padding-bottom: 2%;

    }

    .footer-icon-cont {
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 5%;
        padding-top: 10%;
    }

    .back-to-top {
        padding-bottom: 10%;
    }

    .click-me {
        display: none;
    }
}