/* Core Styles */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: white;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: left;
}

img {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  max-height: 600px;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0.5em 10% 0.5em 10%;
}

/* Navbar */

.navbar {
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em;
  height: 10px;
  font-size: 0.9em;
  border-bottom: 3px solid transparent;
}

.logo {
  position: relative;
  display: inline-block;
}

.logo img {
  cursor: pointer;
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 52px;
}

.logo .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.logo:hover .img-top {
  display: inline;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 10px;
}

.nav-links a {
  color: black;
  text-decoration: none;
}

.nav-links li a:hover {
  border-bottom: 1px solid #d6af87;
}

/* Header */
header {
  background-color: #f8f8f8;
}

header h1 {
  font-weight: 900;
  padding-right: 75%;
}

header h3 {
  font-weight: 400;
  padding-right: 50%;
}

/* Grid text */

#grid-text {
  background-color: #f8f8f8;
  padding-bottom: 5%;
}

#grid-text h1 {
  font-weight: 900;
  padding-right: 75%;
}

#grid-text h3 {
  font-weight: 400;
  padding-right: 50%;
}

#grid-text a {
  color: black;
  text-decoration: underline black;
  padding-left: 10%;
  font-style: italic;
}

#grid-text a:hover {
  color: #d6af87;
  text-decoration: underline #d6af87;
}

/* Card Section*/

.blank-grid {
  background-color: #f8f8f8;
}

#cards-section {
  background-color: #1c1c1c;
  padding-bottom: 10%;
}

.card {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10% 10% 0 10%;
}

.card p {
  color: grey;
  list-style-type: none;
  padding-left: 0;
}

.card h3 {
  padding-left: 0;
}

/* Footer */
.footer {
  background-color: #f8f8f8;
  padding-top: 5%;
}

.footer h1 {
  font-weight: 900;
  padding-right: 75%;
  padding-top: 1em;
}

.footer h3 {
  font-weight: 400;
}

.footer img {
  cursor: pointer;
  width: 100px;
}

.footer-icon-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-icon-cont a {
  align-self: center;
}

.footer-icon-cont img {
  padding: 20%;
}

.click-me {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  word-wrap: break-word;
  position: absolute;
  padding-left: 20%;
  justify-content: center;
}

.click-me div {
  color: grey;
  width: 10px;
}

.click-me span {
  padding-left: 0.1em;
}

#line-top,
#line-bottom {
  width: 1px;
  height: 80px;
  border-right: solid grey 1px;
  padding-left: 4px;
  margin: 20px 0 20px 0;
}

.back-to-top {
  display: flex;
  justify-content: center;
  padding-top: 75px;
}

.footer-link {
  color: black;
  text-decoration: underline black;
  font-style: italic;
}

.footer-link:hover {
  color: #d6af87;
  text-decoration: underline #d6af87;
}


/* Desktop Media Query */
@media (min-width: 700px) {
  body {
    margin: 4%;
  }

  /* Header */
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .header h1,
  .header h3,
  .header p {
    padding: 1% 20% 1% 20%;
  }

  /* Grid */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px auto;
  }

  .blank-grid {
    grid-column: 2/-1;
  }

  #grid-text {
    grid-row: 1/3;
    padding-right: 10%;
    padding-left: 30%;
  }

  #grid-text h1 {
    font-size: 2em;
    padding-right: 0;
    padding-bottom: 70px;
  }

  #grid-text h3 {
    padding-bottom: 20px;
    padding-right: 0;
    font-size: 1.5em;
    font-weight: 500;
  }

  #grid-text p {
    padding-bottom: 20px;
  }

  #cards-section {
    grid-column: 2/-1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 200px;
  }

  .card {
    padding: 5%;
    margin: 4%;
  }

  .card p {
    padding-left: 0;
    padding-right: 0;
  }

  /* Footer */
  .footer-icon-cont {
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5%;
    padding-top: 10%;
  }

  .back-to-top {
    padding-bottom: 10%;
  }


  .click-me {
    display: none;
  }
}